:root {
  /* Colours */
  --off-black: #111111;
  --heading-colour: var(--off-black);
  --white: #fff;
  --off-white: #fefefe;
  --off-off-white: #f5f5f5;
  --light-gray: #e5e5e5;  
  --mid-gray: #ccc;
  --dark-gray: #999;
  --light-yellow: #f2e411;
  /* Fonts */
  --georgia-serif-stack: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  --helvetica-arial-stack: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  padding: 0;
  font-family: var(--helvetica-arial-stack);
  font-size: 100%;
  position: relative;
  background: var(--off-white);
  min-height: 100vh;
}

main {
  font-size: 1.2rem;
  max-width: 90ch;
  padding: 1rem 1rem 5rem 1rem;
  margin: 0 auto;
  color: var(--off-black);
}

p {
  line-height: 1.5;
}

h1, h2, h3 {
  color: var(--heading-colour);
  font-family: var(--georgia-serif-stack);
  font-weight: 600;
  letter-spacing: -0.025rem;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
  font-style: italic;
}

h3 {
  font-size: 1.25rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;  
  background-color: var(--off-off-white);
  box-shadow: 0 1px 0 var(--light-gray);  
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: var(--off-off-white);
  box-shadow: 0 -1px 0 var(--light-gray);
}

footer span {
  font-size: 0.85rem;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
}

main li:not(:last-of-type) {
  margin-bottom: 1rem;
}

main a {
  text-decoration: none;  
  padding: 0.25rem 0.25rem;
  display: inline-block;
}

main a:hover {
  text-decoration: underline;  
}

nav {
  background-color: var(--off-black);
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-wrap: wrap;
}

nav li { 
  margin-right: 1.5rem;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.15rem;
  padding: .25rem;
  text-decoration: none;
  color: var(--off-white);
}

nav a:hover {
  text-decoration: underline;
}

.page-heading {
  font-size: 2.25rem;
  text-align: center;
  text-transform: uppercase;
}

.site-heading-image {
   border-radius: 0;
   box-shadow: none;
}

.divider {
  border: none;
  height: 0;
  height: 0;
  border-top: 1px solid var(--mid-gray);
  margin: 2rem 0;
}

div.call-to-action-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;   
}

div.call-to-action-container a {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--off-white);
  background-color: var(--off-black);
  padding: 0.4rem 1.25rem;    
  border-radius: 3px;  
}

div.call-to-action-container a:hover {  
  box-shadow: 0 0 2px 4px var(--light-yellow);  
}

.uppercase {
	text-transform: uppercase;
}

.card-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: top;  
  margin-top: 3rem;
  gap: 0.5rem;
}

.card {
  max-width: 200px;
  padding: 1rem 1rem 0.15rem 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: var(--off-off-white);
  align-self: start;
}

.card:hover {
  background-color: var(--light-gray);
  box-shadow: 0 0 1px 2px var(--light-gray);
  transition: 0.1s;
}

.card p {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.card a {
  padding: 0;
}

.newsletters {
	display: flex;
	justify-content: space-between;
}

.newsletters section {
	
	padding: 1rem;
}

.newsletters section:first-of-type {
	flex: 2;
}


@media screen and (max-width: 490px) {
   nav li {
    margin-top: 0.75rem;
    }
}

@media screen and (max-width: 860px) {
  .card-area {
    justify-content: center;
    gap: 1rem;
  }
}
