---
title: Galleries
description: This page contains links to various galleries that show some of our quilting work
---

{% include _head.html %}
<main>
  <section>
      <h1 class="page-heading">Galleries</h1>
      <p>
      This page contains links to various galleries that show some of our 
quilting work. Click on a link to go to a gallery.
      </p>
      <ul>
        <li><a href="2020-lockdown-show-and-tell/">Lockdown 2020 Show and Tell</a>  
        <li><a href="2019-marahau-retreat/">Marahau Retreat, March 2019</a>
        <li><a href="2019-teapot-valley-retreat/">Teapot Valley Retreat, 2019</a>   
        <li><a href="2018-quilt-show/">Quilt Show, 2018</a>     
        <li><a href="community-quilts/">Some examples of Community Quilts</a>
        <li><a href="did-you-know-that-workshop/">Did you know that workshop</a>     
      </ul>
  </section>
</main>
{% include _foot.html %}
