---
title: Lockdown 2020
description: This page contains thumbnails of quilts made during the 2020 lockdown
sitemapChangefreq: never
sitemapPriority: 0.5
---

{% include _head.html %}
<main>
  <section>
    <h1 class="page-heading">Lockdown 2020</h1>
    <p>
      This page contains thumbnails of quilts made during the 2020 lockdown. <strong>Click on a thumbnail image of a quilt to see a bigger version. Click the browser's back arrow to return to this page.</strong>.
      </p>
    <div class="card-area">
      {%- for item in lockdown2020.data %}
        <div class="card">
          <a href="{{lockdown2020.imagesFolderName}}/{{item.fileName}}" title="Click to see a bigger version of the image">
            <img src='{{lockdown2020.thumbnailsFolderName}}/{{item.fileName}}' alt="{{item.description}}" 
          {%- if item.lazyLoad %} 
            loading="lazy"
          {%- endif %}/>
          </a>
          <p>{{item.description}}</p>
        </div>
      {%- endfor %}
    </div>

  </section>
</main>
{% include _foot.html %}
