---
title: Lockdown 2020
description: This page contains thumbnails of quilts made during the 2020 lockdown
---

{% include _head.html %}
<main>
  <section>
      <h1 class="uppercase centre" style="font-size: 2.25rem">Lockdown 2020</h1>
      <p>
      This page contains thumbnails of quilts made during the 2020 lockdown. Click on a thumbnail image of a quilt to see a bigger version. Click the browser's back arrow to return to this page.
      <p>      
      
      
      <div class="card-area">
        {%- for item in lockdown2020.data %}
        <div class="card">
          <a href="images/{{item.fileName}}" title="Click to see a bigger version of the image">
          <img src='images/thumbs/{{item.fileName}}' alt="{{item.description}}" 
          {%- if item.id > 4 %} 
          loading="lazy"
          {%- endif %} /> 
          </a>
          <p>{{item.description}}</p>
        </div>
        {%- endfor %}
      </div>
      
      
  </section>
</main>
{% include _foot.html %}
