---
title: Anne Crampton Award
sitemapChangefreq: yearly
sitemapPriority: 0.6
---

{% include _head.html %}
<main>

  <h1 class="page-heading">Anne Crampton Award</h1>
  <p>Anne Crampton was one of the founding members of the Nelson
    Quilters' Guild. She was deeply involved in teaching patchwork and quilting
    and is remembered as a warm and enthusiastic mentor and tutor, always
    willing to share her knowledge and expertise. She also exhibited her own
    work, both locally and nationally.
  </p>
  <p>Initially Anne had been teaching from Nelson Polytechnic. However, when the
    Government funding for craft classes was discontinued in the early 1990s,
    Anne, with Juliet Neale, set up <em>Calico Crafts</em> and continued to teach
    patchwork and quilting classes from a room in the Founders complex.</p>
  <p>After her death, at an early age in 2007, the Guild was keen to initiate the
    <em>Anne Crampton Award Quilt</em> in recognition of her enormous contribution to
    the Nelson Quilters' Guild in particular and to patchwork and quilting in
    general.</p>
  <p>She and her husband, Mac, were also known for their love of tramping and
    keenly explored many back country areas in Nelson and beyond. Discussions
    around the design of an award quilt were fully supportive of a quilted award
    in her name which also reflected her love of NZ's bush, beaches, rivers, lakes
    and mountains.</p>
  <p>With the design group's brief in mind, the initial work setting up the dyed
    forest background was undertaken by Lyn McCullough and Lyn Trolove. The
    detailed motif stages, the design and sewing of the borders and the quilting
    was performed by Marj Toker, Carta Wardrop and 'The Monaco Madams'
    quilting group.</p>
  <p>In the 2008 Nelson Quilters' Guild's Festival of Quilts, the Anne Crampton
    Award Quilt was proudly used for the first time and given as an award to the
    Guild member who won the "Members' Choice" vote.</p>
</main>
{% include _foot.html %}