---
title: Nelson Quilters Guild Constitution
sitemapChangefreq: yearly
sitemapPriority: 0.5
---

{% include _head.html %}
<main>
  <section>
    <h1 class="page-heading">Picture of the written Constitution</h1>   
      <picture>
        <source
          srcset="/images/site/nelson-quilters-guild-constitution_886w.png"
        />
        <source
          srcset="/images/site/nelson-quilters-guild-constitution_886w.avif"
        />
        <img
          src="/images/site/nelson-quilters-guild-constitution_886w.jpg"
          alt="Image of the guild's constitution document"
          width="886" height="5080"
        />
      </picture>
  </section>
</main>
{% include _foot.html %}
