---
title: Home
sitemapChangefreq: monthly
sitemapPriority: 0.7
---

{% include _head.html %}
<main>    
    <section>
      <h1 class="page-heading">Welcome</h1>    
      <p>The Nelson Quilters' Guild was established in 1983 as the Sun City Patchwork and Quilters. Since that time it has continued to grow. The Guild has 80 members and at most monthly meetings we have about 40 quilters present. Click the button below to view/download the guild's application form.</p>
      <div class="call-to-action-container"><a href="Membership-Application-Form-2021.pdf">Information/Application Form</a></div>        
    </section>
    <hr class="divider" />
    <section>
      <h1 class="page-heading">Meetings</h1>
      <h2>When</h2>
      <ul>
        <li>7.30pm on the 3rd Wednesday of each month [except for June and July]</li>
        <li>June & July day meetings on the Saturday following the 3rd Wednesday from 10am-2pm</li>
        <li>There is no club activity in January</li>
      </ul>
      <h2>Where</h2>
      <ul>
        <li>Woodstock Centre</li>
        <li>Stoke School</li>
        <li>Main Road Stoke</li>
        <li>Nelson</li>
        <li>There is car parking in the school grounds. Visitors are most welcome</li>
      </ul>    
    </section>
    <hr class="divider" />    
    <section>    
      <h1 class="uppercase">Members' Benefits</h1>
      <h2>These include</h2>
      <ul>
        <li>Social meetings with refreshments</li>
        <li>Speakers</li>
        <li>Library</li>
        <li>Raffle</li>
        <li>Subsidised workshops and retreats</li>
      </ul>    
    </section>
    <hr class="divider" />
    <section>
      <h1 class="uppercase">Subscriptions</h1>
      <ul>
        <li>$35 p.a.</li>
        <li>$16 fee for name badge</li>
      </ul>    
    </section>
    <hr class="divider" />
    <section>
      <h1 class="uppercase">Contact</h1>
      <ul>
        <li>Stephanie Murch (secretary)</li>
        <li>Email: <a href="mailto:nelsonquilters@gmail.com">nelsonquilters@gmail.com</a></li>
      </ul>    
    </section>
</main>
{% include _foot.html %}

