---
title: Home
sitemapChangefreq: monthly
sitemapPriority: 0.7
---

{% include _head.html %}
<main>    
    <section>
      <h1 class="page-heading">Welcome</h1>    
      <p>The Nelson (<b>New Zealand</b>) Quilters' Guild was established in 1983 as the Sun City Patchwork and Quilters. Since that time it has continued to grow. The Guild has 80 members and at most monthly meetings we have about 40 quilters present. Click the button below to view/download the guild's application form.</p>
      <div class="call-to-action-container"><a href="/assets/Membership-Application-Form-2021.pdf">Information/Application Form</a></div>        
    </section>
    <hr class="divider" />
    <section>
      <h1 class="page-heading">Meetings</h1>
      <h2>When</h2>
      <p>Meetings are held on the 3rd Saturday of every month from February to November. They usually run from 10am to 2pm.</p>      
      <h2>Where</h2>
      <p><a href="https://goo.gl/maps/N2HDRS8zR8jc6d6B7" rel="noopener noreferrer" target="_blank">Woodstock Centre (school hall)<br>Stoke School<br>Main Road Stoke<br>Nelson</a></p>
      <p>There is car parking in the school grounds. Visitors are most welcome</p>     
    </section>
    <hr class="divider" />    
    <section>    
      <h1 class="uppercase">Members' Benefits</h1>
      <h2>These include</h2>
      <ul>
        <li>Social meetings with refreshments</li>
        <li>Speakers</li>
        <li>Library</li>
        <li>Raffle</li>
        <li>Subsidised workshops and retreats</li>
      </ul>    
    </section>
    <hr class="divider" />
    <section>
      <h1 class="uppercase">Subscriptions</h1>
      <ul>
        <li>$35 p.a.</li>
        <li>$16 fee for name badge</li>
      </ul>    
    </section>
    <hr class="divider" />
    <section>
      <h1 class="uppercase">Contact</h1>
      <p style="font-style:italic;color:crimson">Please note that the guild is based in <span style="font-weight:600"><a href="https://www.google.co.nz/maps/place/Nelson/@-41.2974145,173.1729225,11z/data=!3m1!4b1!4m5!3m4!1s0x6d3becc491b72e7d:0xa00ef88e796a480!8m2!3d-41.2985321!4d173.2443635">Nelson, New Zealand</a></span></p>
      <ul>
        <li>Stephanie Murch (secretary)</li>
        <li>Email: <a href="mailto:nelsonquilters@gmail.com">nelsonquilters@gmail.com</a></li>
      </ul>    
    </section>
</main>
{% include _foot.html %}

