---
title: Newsletters
description: Newsletters archive
sitemapChangefreq: monthly
sitemapPriority: 0.8
---

{% include _head.html %}
<main>
  <h1 class="page-heading">Newsletters</h1>
  <div class="newsletters">
    <section class="left-column-newsletter">
      <figure>
        <img src="/images/newsletters/city.jpg" alt="city with skyscrapers and a park" width="596" height="468" />
        <figcaption>Cityscape</figcaption>
      </figure>
      <figure>
        <img src="/images/newsletters/dancers.jpg" alt="dancers wearing 20s era clothes" width="500" height="338" />
        <figcaption>20s Era dancers</figcaption>
      </figure>
    </section>
    <section class="right-column-newsletter">
      <h2>2025</h2>
      <ul>
        <li><a href="2025/Feb25news.pdf">February</a></li>             
      </ul>         
      <h2>2024</h2>
      <ul>
        <li><a href="2024/Nov24news.pdf">November</a></li>        
        <li><a href="2024/Oct24news.pdf">October</a></li> 
        <li><a href="2024/Sept24news.pdf">September</a></li>               
      </ul>     
    </section>
  </div>
</main>
{% include _foot.html %}