---
title: Newsletters
description: Newsletters archive
sitemapChangefreq: monthly
sitemapPriority: 0.8
---

{% include _head.html %}
<main>
  <h1 class="page-heading">Newsletters</h1>
  <div class="newsletters">
    <section class="left-column-newsletter">
      <figure>
        <img
          src="/images/newsletters/city.jpg"
          alt="city with skyscrapers and a park"
          width="596" height="468"
        />
        <figcaption>Cityscape</figcaption>
      </figure>
      <figure>
        <img
          src="/images/newsletters/dancers.jpg"
          alt="dancers wearing 20s era clothes"
          width="500" height="338"
        />
        <figcaption>20s Era dancers</figcaption>
      </figure>
    </section>
    <section class="right-column-newsletter">
      <h2>2022</h2>
      <ul>
        <li><a href="2022/June-2022-newsletter.pdf">June</a></li>
        <li><a href="2022/May-2022-newsletter.pdf">May</a></li>
        <li><a href="2022/April-2022-newsletter.pdf">April</a></li>
        <li><a href="2022/March-2022-newsletter.pdf">March</a></li>
        <li><a href="2022/February-2022-newsletter.pdf">February</a></li>
      </ul>
      <hr class="divider" />
      <h2>2021</h2>
      <ul>
        <li>
          <a href="2021/November-2021-newsletter.pdf">November</a>
        </li>
        <li>
          <a href="2021/Oct-2021-newsletter.pdf">October</a>
        </li>
        <li>
          <a href="2021/August-2021-newsletter.pdf">August</a>
        </li>
        <li>
          <a href="2021/July-2021-newsletter.pdf">July</a>
        </li>
        <li>
          <a href="2021/June-2021-newsletter.pdf">June</a>
        </li>
        <li>
          <a href="2021/May-2021-newsletter.pdf">May</a>
        </li>
        <li>
          <a href="2021/April-2021-newsletter.pdf">April</a>
        </li>
        <li>
          <a href="2021/March-2021-newsletter.pdf">March</a>
        </li>
      </ul>
      <hr class="divider" />
      <h2>2020</h2>
      <ul>
        <li>
          <a href="2021/October-2020-newsletter.pdf">October</a>
        </li>
        <li>
          <a href="2021/September-2020-newsletter2.pdf">September 2</a>
        </li>
        <li>
          <a href="2021/September-2020-newsletter1.pdf">September 1</a>
        </li>
        <li>
          <a href="2021/July-2020-newsletter.pdf">July</a>
        </li>
        <li>
          <a href="2021/June-2020-newsletter.pdf">June</a>
        </li>
        <li>
          <a href="2021/April-2020-newsletter2.pdf">April 2</a>
        </li>
        <li>
          <a href="2021/April-2020-newsletter1.pdf">April 1</a>
        </li>
        <li>
          <a href="2021/March-2020-newsletter2.pdf">March 2</a>
        </li>
        <li>
          <a href="2021/March-2020-newsletter1.pdf">March 1</a>
        </li>
        <li>
          <a href="2021/February-2020-newsletter.pdf">February</a>
        </li>
      </ul>
    </section>
  </div>
</main>
{% include _foot.html %}
