---
title: Resource Links
sitemapChangefreq: monthly
sitemapPriority: 0.7
---

{% include _head.html %}
<main>
	<h1 class="page-heading">Links to resources</h1>
	<p>
		On this page you will find links to resources that may be helpful. (Links
		are blue and an underline will appear when you hover over them with the
		mouse. Clicking on a link will open a new page showing the website.)
	</p>
	<ul>
		<li>
			<a
				href="https://www.anniesquilts.co.nz/cms/index.php#"
				rel="noopener noreferrer"
				target="_blank"
				>Annie's Country Quilt Store</a
			>
			(Ashburton):
			<q
				>...is based in a 100 year old pioneer cottage on the Main South Road in
				Tinwald, on the outskirts of Ashburton, a small provincial farming town
				in New Zealand's South Island.</q
			>
		</li>
		<li>
			<a
				href="https://www.nztextileexperiences.com/"
				rel="noopener noreferrer"
				target="_blank"
				>NZ Textile Experiences</a
			>
			<q
				>...has Art Textile and Fibre Craft Workshops in the Nelson Tasman region</q
			>
		</li>
		<li>
			<a
				href="https://www.thequiltersbarn.co.nz/"
				rel="noopener noreferrer"
				target="_blank"
				>The Quilters Barn</a
			>
			(Blenheim)
			<q
				>...is the place to nurture your creativity. We have the
				materials to inspire you, the tools to enable you and the knowledge to
				support you. Explore our incredible range of 100% Cotton Fabrics, Wool,
				Threads, Tools and Classes to create your next project
			</q>
		</li>
		<li>
			<a
				href="https://quilterslane.co.nz/"
				rel="noopener noreferrer"
				target="_blank"
				>The Quilters Lane</a
			>
			(Masterton)
			<q
				>...owner Sheila Christensen is a pattern designer, author and
				international tutor. Along with our lovely team we are here to serve you
				and help you make beautiful quilts.</q
			>
		</li>
    <li>
			<a
				href="https://www.quiltwithsheila.com/"
				rel="noopener noreferrer"
				target="_blank"
				>Sheila Christensen Quilts</a
			>
			<q
				>...online and in-person teaching, and patterns</q
			>
		</li>
		<li>
			<a
				href="https://craftyorwot.com/"
				rel="noopener noreferrer"
				target="_blank"
				>Crafty or Wot</a
			>
			<q
				>...a specialist Craft Shop based at Old Factory Corner just outside
				Richmond</q
			>
		</li>
		<li>
			<a
				href="https://www.millymac.com/"
				rel="noopener noreferrer"
				target="_blank"
				>MillyMac</a
			>
			<q
				>...We are an online store based in Nelson, New Zealand. We stock a
				range of gorgeous fabrics, patterns & notions to help you add fun to
				your creative time. We also stock a range of creative storage furniture
				to keep your treasures in</q
			>
		</li>
	</ul>
</main>
{% include _foot.html %}
