<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="google-site-verification" content="2a79a3yQ2twaj8brhW072QJvc7E7EbFs0QZnB3-f7a8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">    
  <meta name="description" content="{%- if description %}{{site.siteName}}: {{description}}{%- else %}{{site.siteDescription}}{%- endif %}">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/styles.css">
  <title>{{site.siteName}}{%- if title %}: {{title}}{%- endif %}</title>
</head> 
<body>   
    {% include _header.html %}
