<header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/galleries">Galleries</a>
            </li>
            <li>
                <a href="/anne-crampton">Anne Crampton Award</a>
            </li>
            <li>
                <a href="/constitution">Constitution</a>
            </li>
            <li>
                <a href="/newsletters">Newsletters</a>
            </li>
            <li>
                <a href="/calendar">Calendar</a>
            </li>
        </ul>
    </nav>
    <a href="/"><img class="site-heading-image" src="/images/site/heading-current.jpg" alt="Nelson Quilters Guild heading image"/></a>
</header>
