---
title: Teapot Valley Winter Retreat
description: 'The annual Teapot Valley Winter retreat was held over the weekend of the 9th to the 11th of June. The weather was good and there was a good turn out of quilters'
sitemapChangefreq: never
sitemapPriority: 0.5
---

{% include _head.html %}
<main>
  <section>
    <h1 class="page-heading">Teapot Valley Winter Retreat</h1>
    <p>
      The annual Teapot Valley Winter retreat was held over the weekend of the
      9th to the 11th of June. The weather was sunny and crisp, and there was a good turn
      out of quilters. One of whom, Debbie Williams, came all the way from
      Queenstown. It was good that she did as her applique work wowed those present with its
      wonderfull creativity. Debbie has her own website if you would like to know more about her work: <a href="http://www.quiltfever.com/">Quilt Fever</a>
    </p>
    <p>
      Here a a few pictures from the gathering. Hopefully they give some idea
      about the event. Note that pictures of Debbie's work is at the end.
    </p>

    {%- for item in teapotValleyRetreat2023.data %}
    <figure>
      <img
        src="{{teapotValleyRetreat2023.imagesFolderName}}/{{item.fileName}}"
        alt="{{item.description}}"
        width="{{item.width}}"
        height="{{item.height}}"
        {%-
        if
        item.lazyLoad
        %}
        loading="lazy"
        {%-
        endif
        %} />
      {%- if item.description != "" %}
      <figcaption>{{item.description}}</figcaption>
      {%- endif %}
    </figure>
    {%- endfor %}
  </section>
</main>
{% include _foot.html %}
